[submodule "awesome-mlops"]
	path = awesome-mlops
	url = https://github.com/visenger/awesome-mlops
[submodule "Deep-Learning-in-Production"]
	path = Deep-Learning-in-Production
	url = https://github.com/ahkarami/Deep-Learning-in-Production
[submodule "t81_558_deep_learning"]
	path = t81_558_deep_learning
	url = https://github.com/Simeon340703/t81_558_deep_learning
[submodule "the-incredible-pytorch"]
	path = the-incredible-pytorch
	url = https://github.com/Simeon340703/the-incredible-pytorch
[submodule "Machine-Learning-and-Computer-Vision-References"]
	path = Machine-Learning-and-Computer-Vision-References
	url = https://github.com/Simeon340703/Machine-Learning-and-Computer-Vision-References
[submodule "Machine-Learning-Collection"]
	path = Machine-Learning-Collection
	url = https://github.com/aladdinpersson/Machine-Learning-Collection
[submodule "pytorch-Deep-Learning"]
	path = pytorch-Deep-Learning
	url = https://github.com/Atcold/pytorch-Deep-Learning
